.titleloginmod {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.inputdeet1 {
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 154px;
    margin: 5px;
    margin-bottom: 7px;
    font-size: 14px;
  }
  .thedemologinbutton {
    border: 1.4 px solid rgb(160, 158, 158);
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 0.6rem;
    padding: 3.5px;
    width: 187px;
    font-weight: 700;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border: 1px solid #090d0e;
    background-color: rgb(226, 13, 13);
    font-size: 1.07em;
  }
  .thedemologinbutton:hover {
    transform: scale(1);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(234, 15, 55, 0.4);
  }
  .themainlog {
    border: 1.4px solid rgb(160, 158, 158);
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 0.6rem;
    padding: 3.5px;
    width: 170px;
    font-weight: 700;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border: 1px solid #090d0e;
    background-color: rgb(226, 13, 13);
    font-size: 1.07em;
  }
  .themainlog:hover {
    transform: scale(1);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(234, 15, 55, 0.4);
  }
