.singlePhoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.side-bar {
    display: flex;
    flex-direction: column
}

.only-for-owner button {
    margin: 5px
}

.summary-line span{
    margin:5px
}