.a.visited {
    text-decoration : none;
}

.hidden {
    display: none;
  }

.everyones-information-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-family: Helvetica;
    border-top: 1px solid rgb(211,211,211);
    /* margin-bottom: 10px; */
    background-color: #FFFAF1;
}

.github-button {
    color: black;
}

.le-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sarah-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ciara-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xiao-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
