a:link { text-decoration: none; }
a:visited { text-decoration: none; }

.restaurant-info1 {
    color: black;
    text-decoration: none!important;
    font-family: Helvetica;
}

.search-restaurant-price-city {
    color: 	rgb(136,136,136);
    text-decoration: none!important;
    font-family: Helvetica;
    font-size: 15px;
}

.search-restaurant-name {
    color: black;
    text-decoration: none!important;
    font-family: Helvetica;
    font-size: 18px;
}

.search-restaurant-name:hover {
    text-decoration: underline;
}

.search-restaurant-img {
    color: black;
    text-decoration: none!important;
    font-family: Helvetica;
}

.search-cap {
    font-size: 25px;
    font-family: Helvetica;
}

.prevImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border-bottom: 1px solid rgb(211,211,211);
}


.search-restaurant-body {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 10px;
    border-bottom: 1px solid rgb(211,211,211);
}

.restaurant-info3 {
    color: black;
    text-decoration: none!important;
    font-family: Helvetica;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-captions {
    margin: 10px;
}

.fa-sharp {
    color: green;
}

.fa-regular {
    color: red;
}

.fa-people-roof {
    color: red;
}

.fa-star {
    color: rgb(255,113,73)
}

.waitlist {
    color: rgb(136,136,136);
    text-decoration: none!important;
    font-family: Helvetica;
    font-size: 15px;
}

.restaurant-info2 {
    color: rgb(136,136,136);
    text-decoration: none!important;
    font-family: Helvetica;
    font-size: 15px;
    flex-direction: flex;
    justify-content: space-between;
}

.avgRating {
    background: yellow;
}
