.not-found-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.not-found-pic {
    width: 50%;
}

.not-found-text {
    width: 50%;
    overflow-wrap: break-word;
}

.sorry {
    font-size: 28px;
    font-weight: 700;
}

.not-found-container p {
    font-size: 20px;
    font-weight: 500;
    padding-top: 16px;
    display: flex;
    align-items: center;
}

a.not-found-span {
    color: rgb(2, 122, 151);
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    margin-left: 5px;
}